@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
*{margin:0;padding:0;box-sizing:border-box}
body{
    background:#000;
}

main{
    width:100%;
    height:60vh;
    background:#000;
    overflow:hidden;
    position:relative;
    top:20vh;
    opacity: 0;
    transition:all 3s;
}
main.on{
    opacity: 1;
}


main img{
    width:100%;
    height:100%;
    object-fit:cover;
    position:absolute;
    left:0;
    top:0;
}

aside{
    width:100%;
    height:100vh;
    background:#111;
    position:fixed;
    left:0;
    top:0;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
    font:400 50px/1 "orbitron";
    letter-spacing:2px;
    transition:all 2.5s;
}
aside.off{
    opacity: 0;
}


p{
    width:100%;
    height:100vh;
    position:absolute;
    left:0;
    top:0;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
    font: bold 60px/1 "Orbitron";

}











































